<!doctype html>
<html lang="{{language}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{basic.name}} - Curriculum</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  </head>

  <body>
    <div class="resume-container">
      <header class="header">
        {{#if basic.profileImage}}
        <figure class="profile-figure">
          <img src="{{basic.profileImage}}" alt="{{basic.name}}" class="profile-image" />
        </figure>
        {{/if}}
        <div class="header-info">
          <h1 class="name">{{basic.name}}</h1>
          <h2 class="title">{{lookup basic "title" language}}</h2>
          <div class="contact-info">
            {{#each basic.contactInfo}}
            <div class="contact-item">
              <ion-icon class="{{getIcon type}}"></ion-icon>
              <span>{{value}}</span>
            </div>
            {{/each}}
            <div class="contact-item">
              <ion-icon class="{{getIcon 'location'}}"></ion-icon>
              <span>{{lookup basic "location" language}}</span>
            </div>
          </div>
        </div>
      </header>

      <section class="experience">
        <h2 class="section-title">{{lookup (lookup metadata.sections language) "experience"}}</h2>

        {{#each experience}}
        <div class="item">
          <div class="item-header">
            <div class="position">{{lookup position ../language}}</div>
            <div class="company">{{company}}</div>
          </div>
          <div class="date-location">
            <div class="location">{{lookup location ../language}}</div>
            <div class="date">
              {{lookup date.start ../language}} — {{lookup date.end ../language}}
            </div>
          </div>

          {{#if techStack}}
          <div class="tech-stack"><b>Tech Stack:</b> {{join techStack ", "}}</div>
          {{/if}}

          <ul class="responsibilities">
            {{#each (lookup responsibilities ../language)}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
        {{/each}}
      </section>

      <section class="education">
        <h2 class="section-title">{{lookup (lookup metadata.sections language) "education"}}</h2>

        {{#each education}}
        <div class="item">
          <div class="item-header">
            <div class="position">{{lookup institution ../language}}</div>
            <div class="company">
              {{lookup degree ../language}} {{#if status}} {{lookup status ../language}}{{/if}}
              {{#if credits}} {{lookup credits ../language}}{{/if}} {{#if level}} {{lookup level
              ../language}}{{/if}}
            </div>
          </div>
          <div class="date-location">
            <div class="location">{{lookup location ../language}}</div>
            <div class="date">
              {{#if date.start}}{{lookup date.start ../language}} — {{/if}} {{lookup date.end
              ../language}}
            </div>
          </div>
        </div>
        {{/each}}
      </section>
    </div>
  </body>
</html>
